body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.maincontainer {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
.card1 {
    height: 450px;
}
.card1 img {
    height:250px;
    object-fit:fill;
}
.card {
    height: auto;
    flex-grow: 1;
}
footer {
    background-color: rgb(4, 4, 4);
    text-align: center;
    padding: 10px 0;
    color: rgb(119, 226, 236);
    margin-top: 20px;
}

#card4{
    height: 360px;
}
#card6{
    height: 360px;
}

